{% extends 'base.html' %}



{% block body %}
<div class='w-full h-screen bg-no-repeat bg-cover' 
       style="background-image: url('static/images/background.jpg')">


    <div class="flex flex-col mx-auto  h-full justify-center items-center">
        <div>
            <h1 class="text-9xl text-center text-white select-none my-5 ">Genomefltr</h1>
            <h1 class="text-8xl text-white select-none">Read Filtration Made Easy.</h1>
        </div>
        <div class="h-48 my-8 flex flex-col justify-end opacity-100 transition-opacity duration-1000 ease-in-out" id="job_button">
          <label
            class="
              w-64
              flex flex-col
              items-center
              rounded-full
              px-4
              py-6
              bg-white
              rounded-md
              shadow-md
              tracking-wide
              uppercase
              border border-blue
              cursor-pointer
              hover:bg-purple-600 hover:text-white
              text-purple-600
              ease-linear
              transition-all
              duration-150
              mx-8
              my-4
          " onclick="buttonClick()">
          <span class="mt-2 text-base leading-normal select-none animate-bounce ">Submit Job</span>
        </div>
        <form class="h-48 my-8 flex flex-col justify-end items-center opacity-0 transition-opacity duration-1000 ease-in-out absolute bottom-0 left-0 invisible" id="job_form" method=post enctype=multipart/form-data>
          <input class="appearance-none border-2 border-blue-400 bg-white rounded-lg w-64 text-gray-700 text-xl mr-1 py-3 px-2 leading-tight focus:outline-none text-center" type="email" id="email" name="email" placeholder="Enter A valid email Adress" required>
          <label
            id="button_label"
            class="
              w-64
              flex flex-col
              items-center
              rounded-full
              px-4
              py-6
              bg-white
              rounded-md
              shadow-md
              tracking-wide
              uppercase
              border border-blue
              bg-gray-600
              text-white
              ease-linear
              transition-all
              duration-150
              mx-8
              my-4
            ">
            <span class="mt-2 text-base leading-normal select-none ">Submit  File</span>
            <input id="file_input" type="file" name=file class="hidden" disabled/>
          </label>
        </form>
    </div>
</div>
</body>
<script>
  const buttonClick = () => {
    const job_form = document.getElementById("job_form")
    const job_button = document.getElementById("job_button")

    job_button.classList.remove('opacity-100');
    job_button.classList.add('opacity-0');
    job_button.classList.add('hidden');

    job_form.classList.remove("invisible");
    job_form.classList.remove("absolute", "bottom-0", "left-0");
    job_form.classList.add('opacity-100');
  }

  const file_input = document.getElementById("file_input");
  const checkMail = (event) => {
    const res = String(event.target.value).toLowerCase().match(
      /^(([^<>()[\]\\.,;:\s@"]+(\.[^<>()[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/
    );
    const button_label = document.getElementById("button_label");

    if (res == null) {
      event.target.classList.remove("text-green-600");
      event.target.classList.add("text-red-500");
      event.target.valid = false;
      button_label.classList.remove("hover:bg-green-600","hover:text-white", "text-green-600", "cursor-pointer")
      button_label.classList.add("bg-gray-600","text-white")
      file_input.disabled = true;

    } else {
      event.target.classList.remove("text-red-500");
      event.target.classList.add("text-green-600");
      event.target.valid = true;
      button_label.classList.remove("bg-gray-600","text-white")
      button_label.classList.add("hover:bg-green-600","hover:text-white", "text-green-600", "cursor-pointer")
      file_input.disabled = false;
    }

  }

  const email = document.getElementById("email");
  email.value = ""
  email.addEventListener('input', checkMail);

  
  const validateInput = (event) => {
    if (event.target.form[0].valid) {
      event.target.form.submit();
    }
  }

  file_input.addEventListener('change', validateInput);
</script>
{% endblock %}
